<h3 class="display-4">Список продуктов на складе</h3>
<div *ngIf="products?.length===0">
  <h3 class="display-3">Ничего не найдено</h3>
</div>
<div *ngIf="products?.length!==0">
  <table class="table table-borderless">
    <thead >
    <tr>
      <th>Название</th>
      <th>Количество на складе</th>
      <th>Цена за кг, руб.</th>
<!--      <div *ngIf="currentUser && currentUser.roles.includes('ROLE_ACCOUNTANT')">-->
<!--        <th>-->
<!--          Действия-->
<!--        </th>-->
<!--      </div>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td> <a routerLink="/gamestore/{{product.id}}" >{{product.name}}</a> </td>
      <td> {{product.quantity}} </td>
      <td> {{product.price}} </td>
<!--      <div *ngIf="currentUser && currentUser.roles.includes('ROLE_ACCOUNTANT')">-->
<!--        <td>-->
<!--          <button (click)="deleteAccount(account.id)" class="btn-primary float-left">Удалить аккаунт</button>-->
<!--        </td>-->
<!--      </div>-->
    </tr>
    </tbody>
  </table>
  <br>
  <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let p of pages; let i=index">
      <a class="nav-link" href="" (click)="setPage(i,$event)">{{i+1}}</a>
    </li>
  </ul>
</div>

<!--<div class="alert alert-success" *ngIf="message">-->
<!--  {{message}}-->
<!--</div>-->


<div *ngIf="currentUser && currentUser.roles.includes('ROLE_ACCOUNTANT')">
  <a routerLink="/accountant/products/addProduct"  class="btn btn-primary float-right">Добавить продукт</a>
</div>
<div *ngIf="currentUser && currentUser.roles.includes('ROLE_ACCOUNTANT')">
  <a  class="btn btn-primary" [routerLink]="['/accountant']" >Назад</a>
</div>
<div *ngIf="currentUser && currentUser.roles.includes('ROLE_COOKER')">
  <a  class="btn btn-primary" [routerLink]="['/cooker']" >Назад</a>
</div>

