<h1>Страница бухгалтера</h1>
<h3>Меню</h3>
<ul class="list-group">
  <li class="list-group-item"><a routerLink="/accountant/products">Список продуктов на складе</a> </li>
  <li class="list-group-item"><a routerLink="/accountant/providers">Список поставщиков</a></li>
  <li class="list-group-item"><a routerLink="/accountant/deliveries/active">Текущие поставки</a></li>
  <li class="list-group-item"><a routerLink="/accountant/deliveries/confirmed">История поставок</a></li>
  <li class="list-group-item"><a routerLink="/accountant/addDelivery">Заказать поставку</a></li>
</ul>
