<h1 class="title" align="center">Столовая "У Палыча"</h1>
<h3 class="font-weight-normal" align="center">Здесь мы можете заказать самые вкусные блюда по доступным ценам</h3>



<!--<div class="container">-->
<!--  <div class="row justify-content-center">-->
    <div  align="center">
      <div class="col-sm-6">
        <div class="card bg-dark text-white">
          <img class="card-img" src="../../../assets/food1.jpg" alt="Card image">

          <div class="card-body">
            <p class="card-text">В нашем меню вы можете найти самые разнообразные блюда со всего света. Насладитесь истинным вкусом!</p>
            <blockquote class="blockquote">
              <p class="mb-0">Любовь приходит и уходит, а кушать хчоется всегда. Это значит, что в жизни главное - еда</p>
              <footer class="blockquote-footer">Кто-то очень умный </footer>
            </blockquote>
            <a routerLink="/menu"   class="btn btn-primary">Просмотр списка меню</a>
          </div>

        </div>
      </div>
    </div>


<!--    </div>-->

<!--  </div>-->
<!--</div>-->
