<h2>редактирвоание блюда</h2>
<div class="col-md-12">
  <div class="card card-container">
    <!--      (ngSubmit)="f.form.valid && onSubmit()"-->
    <form

      (ngSubmit)="f.form.valid"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">

        <label for="name">Название блюда</label>
        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="form.name"
          required
          [value]="dish?.name"

          #name="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && name.invalid"
        >
          Обязательное поле
        </div>
      </div>
      <div class="form-group">

        <label for="recipe">Рецепт приготовления </label>
        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="form.recipe"
          required
          [value]="dish?.recipe"
          #recipe="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && recipe.invalid"
        >
          Обязательное поле
        </div>
      </div>
      <div class="form-group">

        <label for="price">Цена за порцию</label>
        <input
          type="number"
          class="form-control"
          name="price"
          [(ngModel)]="form.price"
          required
          [value]="dish?.price"
          #price="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && price.invalid"
        >
          Обязательное поле
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Добавить
        </button>
      </div>

    </form>


  </div>
</div>
<div *ngIf="message">
  <div class="alert alert-success">{{message}}</div>
</div>


<div *ngIf="currentUser && currentUser.roles.includes('ROLE_COOKER')">
  <a  class="btn btn-primary" [routerLink]="['/cooker', 'dishes']" >Назад</a>
</div>
