<h3 class="display-4">Корзина</h3>
<div *ngIf="items?.length===0">
  <h3 class="display-3">Ничего не найдено</h3>
</div>
<div *ngIf="items?.length!==0">
  <table class="table table-borderless">
    <thead >
    <tr>
      <th>Название блюда</th>
      <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td> {{item.dish.name}} </td>
      <td>
        <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number"  (click)="decreaseQuantity(item)" data-type="minus">
<svg class="bi bi-bag-dash" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
  <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
  <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
</svg>
              </button>
          </span>
                <input type="text" name="quant[2]" class="form-control input-number" [value]="item.quantity" readonly min="1" max="100">
<!--          {{item.quantity}}-->
          <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number" (click)="increaseQuantity(item)" data-type="plus" data-field="quant[2]">
                            <svg class="bi bi-bag-plus" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
  <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
  <path fill-rule="evenodd" d="M7.5 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-2z"/>
</svg>
              </button>
          </span>
        </div>

      </td>


      <td><a class="btn btn-primary" (click)="deleteItem(item)">Удалить из корзины</a> </td>

    </tr>

    </tbody>
  </table>
  <br>
</div>

<div *ngIf="items?.length!==0">
<div class="alert alert-info">
  Итого: {{calculateSum()}} рублей
</div>
</div>


<!--<div *ngIf="currentUser && currentUser.roles.includes('ROLE_COOKER')">-->
<!--  <a routerLink="/cooker/menus/addMenu"  class="btn btn-primary float-right">Добавить меню</a>-->
<!--</div>-->


  <a  class="btn btn-primary" [routerLink]="['/']" >На главную</a>
<a  class="btn btn-primary float-right" [routerLink]="['/createOrder']" >Перейти к оформлению</a>

